/.idea/.idea.WebApplicationFundamental/.idea/.gitignore
/.idea/.idea.WebApplicationFundamental/.idea/discord.xml
/.idea/.idea.WebApplicationFundamental/.idea/indexLayout.xml
/.idea/.idea.WebApplicationFundamental/.idea/vcs.xml
